<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Phone Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${buddyInfo.empty}">
        <td colspan="2"> No Buddies Available </td>
    </tr>
    <tr th:each="buddy : ${buddyInfo}">
        <td><span th:text="${buddy.name}"> Name </span></td>
        <td><span th:text="${buddy.Address}"> Address </span></td>
        <td><span th:text="${buddy.number}"> Phone Number </span></td>
    </tr>
    </tbody>
</table>
<a href="/buddy">Create another buddy</a><br/>
<a href="/all">Display All the buddies</a>
</body>
</html>